<module href="/components/theme-brawler.html" lang="en" page="welcome">

    _\* Registration is now closed! You can get an event pass ($215), dance tickets ($35), dance passes ($70), and
    admission to some competitions at the door. *_

    Welcome to O-Town Showdown, a phenomenal weekend of competitions in Ottawa focusing on great social dance skills,
    awesome attitude, creativity, and fun!

    **After a three year hiatus we are thrilled to announce that O-Town is officially BACK!**

    O-Town Showdown will return **March 1-3, 2024** with the amazing **Boilermaker Jazz Band** and we can't wait to see
    you there! Check back here for updates and announcements over the coming weeks, and get ready to throw down at the
    Showdown!

    <center>
        <p>2019 Highlights video</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uqqyvGqKtXY" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </center>

</module>
