<p>L&#39;O-Town Showdown a été une fin de semaine de compétitions phénoménale à Ottawa, mettant l&#39;accent sur les compétences en danse sociale, l&#39;attitude exceptionnelle, la créativité et le plaisir ! Organisé chaque année de 2013 à 2020, l&#39;O-Town a tenu son dernier Showdown en mars 2024. Ce site sert à conserver les résultats des événements passés et à donner accès à des informations connexes.</p>
<p>Certains anciens organisateurs d&#39;O-Town ont formé Jazz Dance Junction, un nouvel organisme qui vise à promouvoir le lindy-hop et le jazz vernaculaire à Ottawa par le biais de campagnes de sensibilisation, d&#39;événements et de partenariats communautaires. Suivez les nouvelles de Jazz Dance Junction sur les médias sociaux à <a href="https://www.instagram.com/jazzdancejunction/">@jazzdancejunction</a> ou sur <a href="http://jazzdancejunction.com">JazzDanceJunction.com</a>.</p>
<p>Pour la danse sociale à Ottawa, consultez l&#39;Ottawa Swing Dance Society et pour des cours de lindy-hop et de jazz, consultez Dance with Alana et Ottawa Vintage Swing.</p>
<p><a href="https://www.swingottawa.ca/">https://www.swingottawa.ca/</a></p>
<p><a href="https://www.dancewithalana.com/">https://www.dancewithalana.com/</a> </p>
<p><a href="https://www.ottawavintageswing.com/">https://www.ottawavintageswing.com/</a></p>
<center>
<p>Compilation 2019</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uqqyvGqKtXY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
