<p><em>* Il n’est plus possible de s’inscrire en ligne. Vous pouvez vous procurer un laissez-passer pour l’événement ($215) et être admis à certaines compétitions sur place. *</em></p>
<p>Bienvenue au O-Town Showdown, un événement phénoménal où les habiletés en danse sociale, l&#39;attitude, la créativité et le plaisir sont à l&#39;honneur!</p>
<p>Après trois ans, nous avons la plaisir d&#39;annoncer qu&#39;O-Town est officiellement DE RETOUR!</p>
<p>O-Town Showdown reviens <strong>1-3 Mars 2024</strong> avec l&#39;incroyable <strong>Boilermaker Jazz Band</strong> et nous avons hâte de vous y voir! Consultez notre site-web pour des mises à jour et des annonces au cours des prochaines semaines.</p>
<center>
<p>Compilation 2019</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uqqyvGqKtXY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
