<!-- Cover photos linked from here: https://www.facebook.com/DevonRowlandPhotography/photos_albums -->

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.918929306912248&type=3"
    galleryTitle="O-Town Showdown 2024 - Awards" galleryCover="./images/gallery/O-Town_Showdown_2024_-_Awards.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.916906570447855&type=3"
    galleryTitle="O-Town Showdown 2024 - Team Showcase"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Team_Showcase.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.915429693928876&type=3"
    galleryTitle="O-Town Showdown 2024 - Short Showcase"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Short_Showcase.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.915272067277972&type=3"
    galleryTitle="O-Town Showdown 2024 - Sunday Classes & Dancing"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Sunday_Classes_&_Dancing.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.908505321287980&type=3"
    galleryTitle="O-Town Showdown 2024 - Saturday Night Comps"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Saturday_Night_Comps.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.907831978021981&type=3"
    galleryTitle="O-Town 2024 - Saturday Night Social Dancing"
    galleryCover="./images/gallery/O-Town_2024_-_Saturday_Night_Social_Dancing.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.905099214961924&type=3"
    galleryTitle="O-Town Showdown 2024 - Saturday Daytime"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Saturday_Daytime.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.903675591770953&type=3"
    galleryTitle="O-Town Showdown 2024 - Saturday Night Jam Circle"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Saturday_Night_Jam_Circle.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.902832845188561&type=3"
    galleryTitle="O-Town Showdown 2024! - Friday Night"
    galleryCover="./images/gallery/O-Town_Showdown_2024_-_Friday_Night.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.4179318448752817&type=3"
    galleryTitle="Otown Showdown 2020 - Open Mix & Match Prelims"
    galleryCover="./images/gallery/Otown_Showdown_2020_-_Open_Mix_&_Match_Prelims.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.4106100272741302&type=3"
    galleryTitle="Sunday at O-Town Showdown 2020, Part 3 of 3"
    galleryCover="./images/gallery/Sunday_at_O-Town_Showdown_2020_Part_3_of_3.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.4105801802771149&type=3"
    galleryTitle="O-Town Showdown 2020 - Sunday Part 2"
    galleryCover="./images/gallery/O-Town_Showdown_2020_-_Sunday_Part_2.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.4055664861118177&type=3"
    galleryTitle="O-Town Showdown 2020 - Sunday Part 1"
    galleryCover="./images/gallery/O-Town_Showdown_2020_-_Sunday_Part_1.jpg">
</module>

<module href="/components/gallery-item.html"
    galleryLink="https://www.facebook.com/media/set/?set=a.4018881384796525&type=3"
    galleryTitle="O-Town Showdown 2020, Saturday Night"
    galleryCover="./images/gallery/O-Town_Showdown_2020_Saturday_Night.jpg">
</module>
