<!DOCTYPE html>
<html lang="{{ lang }}">

<script locals>
    let result = { title: '', altPage: '' };

    if (locals.lang === 'en') {
        switch (locals.page) {
            case 'welcome':
                result.title = "Welcome";
                result.altPage = "accueil";
                break;
            case 'results':
                result.title = "Results";
                result.altPage = "resultats";
                break;
            case 'media':
                result.title = "Photos & Videos";
                result.altPage = "photos-videos";
                break;
            case 'history':
                result.title = "A Short History of Lindy Hop";
                result.altPage = "histoire";
                break;
        }
    } else {
        switch (locals.page) {
            case 'welcome':
                result.title = "Bienvenue";
                result.altPage = "welcome";
                break;
            case 'results':
                result.title = "Résultats";
                result.altPage = "results";
                break;
            case 'media':
                result.title = "Photos & vidéos";
                result.altPage = "media";
                break;
            case 'history':
                result.title = "Petite histoire du Lindy Hop";
                result.altPage = "history";
                break;
        }
    }

    module.exports = result;
</script>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">

</head>

<body class="post-template page-template page">

    <div class="wrapper_brawler">

        <div role="banner" class="header_brawler clear">
            <a class="logo_brawler" href="http://otownshowdown.com/g">
                <img src="./images/banner_{{ lang }}.png" alt="O-Town Showdown">
            </a>
            <h1 class="blogtitle_brawler">
                <a title="O-Town Showdown" href="http://otownshowdown.com/g">
                    <span class="title_1">O-Town</span>
                    <span class="title_2">Showdown</span>
                    <span class="title_3">
                        <span class="title_3_1">OTAWA, CANADA</span>
                    </span>
                </a>
            </h1>
            <div class="event_date">
                <p>
                    <time class="date_brawler" datetime="Tuesday 05 November, 2024" itemprop="datePublished">
                        MARCH<br>— 7<sup>TH</sup> —<br>2015
                    </time>
                </p>
            </div>
        </div>

        <nav class="menu_brawler" role="navigation">
            <ul>
                <if condition="lang === 'en'">
                    <li><a href="./welcome.html" class='{{ page == "welcome" ? "active" : ""}}'>Home</a></li>
                    <li><a href="./results.html" class='{{ page == "results" ? "active" : ""}}'>Results</a></li>
                    <li><a href="./media.html" class='{{ page == "media" ? "active" : ""}}'>Photos
                            &amp; Videos</a></li>
                    <li><a href="./history.html" class='{{ page == "history" ? "active" : ""}}'>Lindy</a></li>
                </if>
                <else>
                    <li><a href="./accueil.html" class='{{ page == "welcome" ? "active" : ""}}'>Bienvenue</a></li>
                    <li><a href="./resultats.html" class='{{ page == "results" ? "active" : ""}}'>Résultats</a></li>
                    <li><a href="./photos-videos.html" class='{{ page == "media" ? "active" : ""}}'>Photos
                            &amp; vidéos</a></li>
                    <li><a href="./histoire.html" class='{{ page == "history" ? "active" : ""}}'>Lindy</a></li>
                </else>
            </ul>
        </nav>

        <main class="main_brawler" role="main">
            <article class="article_brawler" role="article" itemscope="" itemtype="http://schema.org/Article">
                <header class="postheader_brawler">
                    <h1 class="posttitle_brawler" itemprop="headline">{{ title }}</h1>
                </header>
                <div class="postcontent_brawler" itemprop="articleBody" md>


                    <content></content>


                </div>
                <a href="./{{ altPage }}.html">{{ lang == "en" ? "Français" : "English" }}</a>
            </article>
        </main>

        <footer class="footer_brawler">
            <div class="footertext_brawler">
                <a href="http://otownshowdown.com/">O-Town Showdown</a> © 2016 • All rights reserved.
            </div>
        </footer>
    </div>

</body>

</html>
